/* General styles */
body {
  font-family: Arial, sans-serif;
  background: #f0f8ff;
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2rem;
  color: #333;
}

#countdown {
  margin: 20px 0;
  font-size: 1.2rem;
}

.stages {
  margin-top: 40px;
}

.stage {
  margin-top: 20px;
}

.hidden {
  display: none;
}

/* Animations */
.animation {
  margin: 20px auto;
  width: 200px;
  height: 200px;
  border-radius: 20px; /* Imagen con bordes redondeados */
  overflow: hidden;
  border: 3px solid #ddd; /* Borde alrededor de la imagen */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para un efecto elegante */
}

.thumbnail {
  margin: 5px;
  width: 60px;
  height: 60px;
  border-radius: 50%; /* Miniatura redonda */
  overflow: hidden;
  border: 2px solid #ddd;
  display: inline-block;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease-in-out;
}

.thumbnail.active {
  border: 2px solid #4caf50;
  transform: scale(1.1);
}

/* Progress bar */
.progress-bar-container {
  width: 80%;
  height: 20px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin: 20px auto;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#progress-bar {
  width: 0;
  height: 100%;
  background-color: #4caf50;
  border-radius: 10px;
  animation: loading 5s linear forwards;
}

@keyframes loading {
  from {
      width: 0%;
  }
  to {
      width: 100%;
  }
}
